* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;

}

.container {
    width: 400px;
    /* auto = auto calculation */
    margin: 150px auto;

}

.box {
    width: 200px;
    height: 200px;
    border: 1px solid  #ccc;
    border-radius: 110px;
    margin: 20px;
}

.box-1  {
    /* offset: horizontal , vertical, spread, color */
    box-shadow: 10px 0px 10px 1px #0095ff;
}

.box-2  {
    /* offset: horizontal , vertical, spread, color */
    box-shadow: 5px 4px 10px 2px rgba(78, 201, 17, 0.2);
}

.box-3  {
    /* offset: horizontal , vertical, spread, color */
    box-shadow: 5px 4px 10px 2px rgba(255, 175, 255, 0.888), -3px 5px 5px rgba(179, 27, 255, 0.41), -5px 0px 5px rgba(26, 76, 255, 0.527);
}







