.container {
    max-width: 900px;
    margin: 70px auto;
}

img {
    max-width: 100%;
    /* filter: grayscale(100%); */
    /* filter: hue-rotate(80%);
    filter: blur(5px); */
    filter: brightness(110%);
    filter: contrast(90%);
    filter: drop-shadow(10px 10px 5px rgba(139, 146, 67, 0.757));
    filter: hue-rotate(180deg);
    filter: invert(100%);
    filter: opacity(50%);
    filter: saturate(200%);
    /* filter: sepia(100%); */
    
}

img:hover {
    filter: grayscale(100%) blur(5px) drop-shadow(10px 10px 5px rgb(254, 255, 212));
}