* {
    /* Reset */
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    /* responsive width */
    max-width: 800px ;
    width: 50%;
    border: 1px solid red;
    /* margin: 15% auto; */
    margin: 0 40px;
}

img {
    width: 100%;
    position: relative;
    left: 25%;
}














