* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

@media screen and (min-width: 1200px) {
    .widescreen {
        background: rgb(0, 17, 255);
    }
}

@media (max-width: 992px) {
    .widescreen {
        background: rgb(93, 93, 255);
    }
    .normal {
        background: lightblue;
    }
}

@media (max-width: 768px) {
    .ipad {
        background: lightgreen;
    }
}

@media (max-width: 576px) {
    .phone {
    background: rgb(255, 253, 144);
}
}

@media (orientation: landscape) {
    .landscape {
        background: rgb(255, 164, 107);
    }
}

@media (max-height: 500px) {
    .height {
        background: red;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    body {
        background: #333;
    }
}